@import 'padroes';

@mixin mobile {
    @media (max-width: 600px) {
        @content;
        transition: .5s all;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: $corFundo;
    position: relative;
}

.container-card {
    display: flex;
    width: 600px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .10);
    transition: .5s all;

    @include mobile {
        display: block;
        width: 342px;
        height: 611px;
    }
}

.card-left,
.card-right {
    width: 50%;

    @include mobile {
        width: 100%;
    }
}

.img-produto {
    width: 100%;
    height: 100%;
    background-image: url('../img/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;

    @include mobile {
        height: 238px;
        background-image: url('../img/image-product-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
    }
}

.card-right {
    padding: 30px;

    .titulo-categoria {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 4px;
        color: $corFontSecundaria;
        margin-bottom: $espacoItens;
    }

    .titulo-principal {
        font-size: 30px;
        line-height: 1;
        margin-bottom: $espacoItens;
        font-family: 'Fraunces', serif;
    }

    .texto {
        color: $corFontSecundaria;
        line-height: 1.5;
        margin-bottom: $espacoItens;
        font-size: 16px;

        @include mobile {
            font-size: 14px;
            margin-bottom: $espacoItens *1.5;
        }
    }

    .preco-atual {
        display: flex;
        color: $corBotao;
        font-size: 36px;
        margin-bottom: $espacoItens;
        font-family: 'Fraunces', serif;
        font-weight: 500;

        & .preco {
            color: $corFontSecundaria;
            font-size: 14px;
            align-self: center;
            margin-left: 20px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 1px;
                border-bottom: solid 1px $corFontSecundaria;
                top: 10px;
            }
        }
    }

    .btn-carrinho {
        display: block;
        text-align: center;
        background-color: $corBotao;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;

        & i {
            margin-right: 15px;
        }
    }

}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}
